body {
  background-color: black;
  touch-action: none;
  overflow-x: hidden;
}

.App {
  height: auto;
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  font-family: "Andale Mono", monospace;
}

.main {
  width: 100%;
  height: auto;
  min-height: 100vh;
  max-width: 100vw;
  background-color: black;
  background-image: url("./kanye.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.form {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: fit-content;
  height: fit-content;
  background-color: rgba(134, 21, 21, 0);
  margin: auto;
  display: block;
  align-items: center;
  margin-top: 20vh;
}

#questionType {
  margin: auto;
  color: aliceblue;
  width: 320px;
  max-width: 95vw;
  display: grid;
}

.questionFrom {
  margin: auto;
  width: 300px;
  height: 50px;
  max-width: 95vw;

  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.932);
  color: rgb(255, 255, 255);
  border-style: solid;
  border-color: rgb(255, 255, 255);
  font-size: 1rem;
  overflow: hidden;
  padding: 10px;
  margin-top: 3vh;
}

#questionTypeSelect {
  margin-top: 0px;
}

#questionType h1 {
  padding-left: 10px;
  font-size: 3rem;
}

.questionFrom:focus {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  outline: none;
  background-color: rgb(0, 0, 0);
}

#submit {
  width: 100px;
  margin: auto;
  margin-top: 5vh;
  border-radius: 1px;
  height: 50px;
  background: rgb(0, 0, 0);
  border-style: solid;
  border-color: white;
  border-width: 1px;
  color: white;
}

#submit:hover {
  color: black;
  background-color: white;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(80, 79, 79);
}

.travia {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: fit-content;
  height: fit-content;
  min-width: 280px;
  min-height: 300px;
  background-color: rgba(248, 6, 6, 0);
  margin: auto;
  display: block;
  align-items: center;
  margin-top: 10vh;
  padding: 10px;
}

#traviaQuestion {
  font-size: 2rem;
  display: block;
  max-width: 800px;
  min-width: 280px;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
}

#traviaMultipleChoice {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto;
  text-align: left;
  color: white;
}

#traviaMultipleChoice button {
  width: 400px;
  height: fit-content;
  max-width: 95vw;
  min-height: 30px;
  justify-content: center;
  align-self: center;
  background-color: rgb(0, 0, 0);
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  text-align: left;
  font-size: 1rem;
}

#traviaMultipleChoice :hover {
  color: rgb(0, 0, 0);
  background-color: white;
}

#menu {
  display: flex;
}

#asking {
  display: none;
}

#askidng {
  display: none;
}

mark {
  background: rgb(255, 255, 255);
}

#score {
  position: fixed;
  top: 5px;
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  background-color: #000000;
  background-image: linear-gradient(0deg, #000000 0%, #ffffff36 200%);
  font-family: "Andale Mono", monospace;
}

.travia {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#gameover {
  color: white;
  position: absolute;
  top: 10vh;
  margin: auto;
  width: 100%;
  font-size: 10vw;
  text-align: center;
  font-family: "Andale Mono", monospace;
  overflow-y: hidden;
  overflow-x: hidden;
}

#gameover p {
  color: white;
  font-size: 1.5rem;
  font-family: "Andale Mono", monospace;
  margin-top: 10vh;
}

#askidng {
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 100vh;
}

.resetStuff {
  position: absolute;
  top: 50vh;
  margin: auto;
  display: grid;
}
